@import '../../Variables/Variables.scss';
.cat {
    overflow: hidden ;
    width:100%;

    list-style:none;
    position: relative;
    
    z-index:0;
  }
  
  
  .cat:before {
  content:"Title Text";
 
  color: #FFF;
  font-size: 52px;
  text-align: left;
  background: none repeat scroll 0% 0% transparent;
  top: 49px !important;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 0px;
  position: absolute;
  left: 90px;
  margin-left:-390px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-shadow: 1px 1px 1px #000 ;
  z-index:10;
       }
  
  
  .cat:hover img {
    transform: scale(1.1);
      transition: all 0.7s linear 0s; 
  }
  
  .cat img {
          transition: all 0.7s linear 0s;
          object-fit: cover;
  }
  
  
  .cat:after {	
  content:"Description text will display here, Description text will display here,";
  color: #fff;
  font-size: 15px;
  background: none;
  position: absolute;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 258px;
  padding: 10px 0px;
  position:absolute;
  top:120px;
  left: 100px;
  margin-top: 300px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 258px;
  text-shadow: 1px 1px 5px #000 ;
  }
   
   
   
   
  .cat:hover::before {
  margin-left:0;
      -webkit-transition-delay: 0.5s; 
      transition-delay: 0.5s;
  }
  
  .cat:hover::after {
  margin-top:0;
      -webkit-transition-delay: 1s; 
      transition-delay: 1s;
  }
   

  
div.card {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
}

div.articleAndUserImages {
    position: relative;
    top: 0;
    left: 0;
}

div.imgArticleDiv {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

img.imgArticle {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.containerDataUser {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: calc(50% - 100px);
    transform: translateY(-50%);
    top: 90%;
    z-index: 11;
}

div.imgUserDiv {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 4px #FFF;
    box-shadow: 0 0 10px #000;

    &:hover {
        transition: all 0.7s linear 0s; 
        border-color: #fff;
        box-shadow: 0 0 10px #ea3c;
    }
}

img.imgUser {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

    &:hover {
        transform: scale(1.1);
        transition: all 0.7s linear 0s; 
    }

}

p.textUser {
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 600;
}

p.textTime {
    color: #4d4d4d;
    
}

.titleArticle {
    margin-top: 55px;
    font-weight: 600; 
}

.textArticle {
    line-height: 1.7;
}



.btn {
    width: 200px;
}
div.btnDiv {
   
    position: relative;
    width: 100%;
    height: 100px;
}
button.box {
    width: $buttonWidth;
  left: 50%;
  top: 50%;
   transform: translate(-50%, -50%);
    border-radius: 30px;
    position: absolute;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
   border: none;
    overflow: hidden;
    cursor: pointer;
    font: 16px/24px Arial, sans-serif;
    
    transition: 
      box-shadow 0.4s ease, 
      background-color 0.4s ease, 
      color 0.4s ease;
      background-color: rgb(25, 135, 84);
      box-shadow: 
        0 0 2px 0 rgba(25, 135, 84, 0.1), 
        0 0 4px 0 rgba(25, 135, 84, 0.2), 
        0 0 6px 0 rgba(25, 135, 84, 0.3), 
        0 0 8px 0 rgba(25, 135, 84, 0.4),
        0 0 12px 0 rgba(25, 135, 84, 0.5), 
        0 0 18px 0 rgba(25, 135, 84, 0.6),
        0 0 4px 0 rgba(25, 135, 84, 0.7);
 
  }
  
  button.box:hover{
      
    background-color: #ea3c;
    box-shadow: 
      0 0 2px 0 rgba(238, 170, 51, 0.1), 
      0 0 4px 0 rgba(238, 170, 51, 0.2), 
      0 0 6px 0 rgba(238, 170, 51, 0.3), 
      0 0 8px 0 rgba(238, 170, 51, 0.4),
      0 0 12px 0 rgba(238, 170, 51, 0.5), 
      0 0 18px 0 rgba(238, 170, 51, 0.6),
      0 0 4px 0 rgba(238, 170, 51, 0.7);
  }
  
  .box span.name {
    position: relative;
    z-index: 1;
    color: #fff;
    
  }
  
  button.box i.iButton {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 200px;
    background-color: inherit;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 
      transform 0.4s linear, 
      top 1s linear;
    overflow: hidden;
  }
  
   i.iButton:before,
  i.iButton:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
  }
   i.iButton:before {
    border-radius: 46%;
    background-color: rgba(20, 20, 20, 0.2);
    animation: animate 5s linear infinite;
  }
   i.iButton:after {
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: 
        translate(-50%, -75%) 
        rotate(0deg);
    }
    100% {
      transform: 
        translate(-50%, -75%) 
        rotate(360deg);
    }
  }

  div.containerH2 {
    height: 90px;
    position: relative;
 }
 
 div.wrapper{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
  }
 
  div.wrapper h2 {
    color:transparent;
    background-clip:text;
    -webkit-background-clip:text;
    background-repeat:no-repeat;
    font-size:30px;
    font-weight:900;
    background-position:left bottom;
    animation:bgAnim 10s infinite ease-in-out;
    letter-spacing:0px;
  /*   filter: drop-shadow(0px 0px 1px rgba(0,0,0,1)); */
    -webkit-text-stroke: 1px #ffffff;
    paint-order: stroke fill;
    white-space:nowrap;
    background-image: url(../../../images/bg-header.jpeg);
  }
 
  @media (min-width: 600px) {
    div.containerH2 {
      
      position: relative;
   }
    div.wrapper h2 {
      font-size:50px;
    }
    
  }
 
  @keyframes bgAnim{
    0%{
      background-position:right bottom;
    }
    50%{
      background-position:left bottom;
    }
    100%{
      background-position:right bottom;
    }
  }



