/* input style */

$inputBtnRadius: 30px;
$inputColor: #000;
$inputBorderColor: #7CFC00;
$inputBoxShadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$inputBoxShadowFocus: 0 2px 5px 1px rgb(124, 252, 0 / 16%);
$inputfontSize: 20px;
$inputTransition: all 300ms ease-in-out;
$inputPadding: 10px 20px;
$inputPlaceholderColor: gray;


/* Button Style */

$buttonWidth: 147px;
