@import '../Variables/Variables.scss';

$bg:rgb(114, 146, 149);
$desktop : 1200px;
$laptop : 1024px;
$tablet : 760px;
$phone : 480px;


.formstyle{
    display: flex;
}

.dark{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.result{
        
    width: 300px;
    height: 300px;
    background: linear-gradient(135deg,
    #ffffff,
    #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 100px;
    border-radius: 50%;
    border: rgb(165, 185, 165) 7px solid;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
    
}



.btn{
   display: flex;
   justify-content: center; 
   margin-top: 20px;
   padding-top: 15px;
   
 
}

div.title{
    color: #ffffff;
    background: linear-gradient(135deg,
    #65a05a,
    #7db89a);
    text-align: center;
    /* height: 580px; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
}

.titlevalue{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    height: 250px;
    font-weight: 600;
   
}



.cardContainer{
    display: flex;
    justify-content: center;
    min-width: 300px;
}


.icon{
    font-size: 50px;
    color: rgb(35, 112, 16);
    display: inline-block;
    margin-left: 20px;

    
}



div.card {
   
    height: calc(100% - 15px);
    width: 350px;
    margin: auto;
    
}
@media (max-width: 444px) {
  div.card {
    width: 270px;
  }
.result{
   width: 230px;
   height: 230px;
  }
}


input.inputBmi {
    border-radius: $inputBtnRadius;
    caret-color: $inputColor;
    color: $inputColor;
    font-size: $inputfontSize;
    padding: $inputPadding;
    box-shadow: $inputBoxShadow;
     &:focus {
        color: $inputColor;
        border-color: $inputBorderColor;
        box-shadow: $inputBoxShadowFocus;
        transition: $inputTransition;
        border: none;
    }

  
}

div.btnDiv{
    position: relative;
    margin: 20px 0;
    width: 200px;
    height: 75px;
}



button.box {
  width: $buttonWidth;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    border-radius: 30px;
    position: absolute;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    border: none;
    overflow: hidden;
    cursor: pointer;
    font: 16px;
    
    transition: 
      box-shadow 0.4s ease, 
      background-color 0.4s ease, 
      color 0.4s ease;
      background-color: rgb(25, 135, 84);
      box-shadow: 
        0 0 2px 0 rgba(25, 135, 84, 0.1), 
        0 0 4px 0 rgba(25, 135, 84, 0.2), 
        0 0 6px 0 rgba(25, 135, 84, 0.3), 
        0 0 8px 0 rgba(25, 135, 84, 0.4),
        0 0 12px 0 rgba(25, 135, 84, 0.5), 
        0 0 18px 0 rgba(25, 135, 84, 0.6),
        0 0 4px 0 rgba(25, 135, 84, 0.7);
 
  }
  
  button.box:hover{
      
    background-color: #ea3c;
    box-shadow: 
      0 0 2px 0 rgba(238, 170, 51, 0.1), 
      0 0 4px 0 rgba(238, 170, 51, 0.2), 
      0 0 6px 0 rgba(238, 170, 51, 0.3), 
      0 0 8px 0 rgba(238, 170, 51, 0.4),
      0 0 12px 0 rgba(238, 170, 51, 0.5), 
      0 0 18px 0 rgba(238, 170, 51, 0.6),
      0 0 4px 0 rgba(238, 170, 51, 0.7);
  }
  
  .box span.name {
    position: relative;
    z-index: 1;
    color: #fff;
    
  }
  
  button.box i.iButton {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 200px;
    background-color: inherit;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 
      transform 0.4s linear, 
      top 1s linear;
    overflow: hidden;
  }
  
   i.iButton:before,
  i.iButton:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
  }
   i.iButton:before {
    border-radius: 46%;
    background-color: rgba(20, 20, 20, 0.2);
    animation: animate 5s linear infinite;
  }
   i.iButton:after {
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: 
        translate(-50%, -75%) 
        rotate(0deg);
    }
    100% {
      transform: 
        translate(-50%, -75%) 
        rotate(360deg);
    }
  }
@media (max-width: 767.98px) { 

    div.inputItem {
        display: inline-block;
        width: 270px;
    }
    .rowIputs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.btnDiv {
        margin: auto;
        
    }

    button.box {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

 }

 div.containerH2 {
  height: 100px;
  position: relative;
}

div.wrapper{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}

div.wrapper h2 {
  color:transparent;
  background-clip:text;
  -webkit-background-clip:text;
  background-repeat:no-repeat;
  font-size:30px;
  font-weight:900;
  background-position:left bottom;
  animation:bgAnim 10s infinite ease-in-out;
  letter-spacing:0px;
/*   filter: drop-shadow(0px 0px 1px rgba(0,0,0,1)); */
  -webkit-text-stroke: 1px #ffffff;
  paint-order: stroke fill;
  white-space:nowrap;
  background-image: url(../../images/bg-header.jpeg);
}

@media (min-width: 600px) {

  div.wrapper h2 {
     font-size:50px;

  }
  
}

@keyframes bgAnim{
  0%{
    background-position:right bottom;
  }
  50%{
    background-position:left bottom;
  }
  100%{
    background-position:right bottom;
  }
}
 